/* ----- import font style -----*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* font-family: 'Roboto', sans-serif; */

/* ----- page styles -----*/

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

/* ----- menu styles -----*/

nav {
  height: 50px;
  list-style-type: none;
  background-color: #4e4e4e;
  text-align: right;
}

nav .disabled-link:hover {
  cursor: not-allowed;
}

nav .logo {
  float: left;
  margin-left: 96px;
  font-weight: 700;
}

nav a {
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
  line-height: 50px;
  margin-left: 30px;
}

nav a:last-child {
  margin-right: 96px;
}

/* ----- header styles ----- */

header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url("../img/mountain-landscape.jpg");
  background-size: cover;
}

header .bg-alpha {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

header h1 {
  font-size: 3.6rem;
  font-weight: 700;
  color: white;
}

header h2 {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
}

header .slogan {
  position: absolute;
  width: 50%;
  padding-left: 96px;
  z-index: 100;
}

header .slogan .btn {
  position: absolute;
  padding: 5px 55px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  border: 3px solid #ffffff;
  transition-property: background-color color;
  transition-duration: 1s;
  z-index: 100;
}

header .slogan a:hover {
  background-color: white;
  color: black;
}

/* main content: employess & offer */

/* ----- employees content ----- */

#employees-content {
  padding: 40px 96px 40px 96px;
  background: #f1f1f1;
}

#employees-content h1 {
  color: #152d41;
  font-size: 3.6rem;
  font-weight: 700;
}

.employee {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  column-gap: 50px;
}

.employee:nth-of-type(even) {
  flex-direction: row-reverse;
}

.employee:nth-of-type(even) .employee-description * {
  text-align: right;
}

.employee img {
  height: 250px;
  border-radius: 50%;
}

.employee .employee-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.employee h2 {
  font-size: 1.8rem;
  font-weight: 700;
  flex-grow: 0;
}

.employee p {
  font-size: 1.8rem;
  padding-top: 12px;
  flex-grow: 0;
}

/* ----- offer content ----- */

#offer-content {
  background-color: #405d78;
  padding: 40px 96px 0 96px;
}

#offer-content h1 {
  font-size: 3.6rem;
  font-weight: 700;
  color: white;
}

.circle {
  position: absolute;
  left: -10px;
  top: -10px;
  height: 22px;
  width: 22px;
  background-color: #e07a64;
  border-radius: 50%;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
}

.box-content {
  position: relative;
}

.box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 140px;
  margin: 20px;
  width: 140px;
  height: 140px;
  background-color: #f1f1f1;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: transform 0.5s;
}

.box-content:hover {
  transform: scale(1.05);
}

.box-content h2 {
  font-size: 1.6rem;
}

.box-content p {
  font-size: 1.4rem;
}

/* ----- footer content ----- */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 96px;
  height: 71px;
  background-color: #4e4e4e;
}

footer h1 {
  font-size: 1.8rem;
  color: white;
}

footer .icon-box i {
  margin-right: 15px;
}

footer .iconcolor {
  color: white;
  font-size: 3rem;
}
